<md-dialog ng-style="{'min-height': '325px', 'width': '700px'}">

    <md-toolbar style="background-color: #b0121d">
        <div class="md-toolbar-tools">
            <h2>Add product</h2>
            <span flex></span>
            <md-button ng-click="closeDialog()" class="md-icon-button">
                <md-icon aria-label="Close" class="material-icons">close</md-icon>
                <md-tooltip md-direction="bottom">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div style="padding-top: 15px" layout="column" layout-padding>

            <md-input-container class="md-icon-float md-icon-right md-block" flex>
                <label>Name</label>
                <input required ng-model="product.name">
            </md-input-container>

            <md-input-container class="md-icon-float md-icon-right md-block" flex>
                <label>Price</label>
                <input type="number" required ng-model="product.price">
            </md-input-container>

            <md-select required ng-model="product.category" placeholder="Category" class="md-no-underline">
                <md-option value="food">Food</md-option>
                <md-option value="beverage">Beverage</md-option>
                <md-option value="cleaning">Cleaning</md-option>
            </md-select>

            <md-input-container class="md-block">
                <label>description</label>
                <textarea ng-model="product.description" md-maxlength="1000" md-select-on-focus></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-disabled="canSave()" ng-click="saveProduct()"
                   style="margin-right:10px;">
            Save
        </md-button>
    </md-dialog-actions>


</md-dialog>
